body {
    box-sizing: border-box;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100v;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: #ffffff
}

.logo ion-icon {
    font-size: 35px;
}

.layout {
    background: #F3F3F3;
height: 667px;
width: 375px;

}

p span {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    }

.fala1 {
    width: 375px;
    height: 40px;
    background-color: #DCDCDC;
    border-radius: 2px;
    margin-top: 26px;
    display: flex;
    align-items: center;
    
   
}

.fala1 p {
    width: 100%;
    background-color: #DCDCDC;
    padding-left: 9px;
    
}


.fala2 {
    width: 375px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.fala2 p {
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 9px;
}

.fala3 {
    background: #FFFFFF;
    border-radius: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.fala3 p {
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 9px;
}

.fala4 {
    background: #FFDEDE;
    border-radius: 2px;
    height: 63px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.fala4 p {
    width: 100%;
    background-color: #FFDEDE;
    padding-left: 9px;
}

.fala5 {
    background: #DCDCDC;
    border-radius: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.fala5 p {
    width: 100%;
    background-color: #DCDCDC;
    padding-left: 9px;
}

.conversa {
    margin-top: 282px;

height: 80px;
background: #FFFFFF;
box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 17px;
}

.conversa input {
    font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.conversa ion-icon {
    font-size: 26px;
}