body {
    box-sizing: border-box;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logo {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100v;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: #ffffff
}

.logo ion-icon {
    font-size: 35px;
    padding-left: 246px;
}

.layout {
    background: #F3F3F3;
height: 667px;
width: 375px;
}

p span {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    }

.conversa {
    margin-top: 282px;
height: 80px;
background: #FFFFFF;
box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 17px;
bottom: 0;
position: fixed
}

.conversa input {
    font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
border: none;
}

.conversa ion-icon {
    font-size: 26px;
    margin-left: 75px;
    padding-left: 6px;
}

.espaco-horizontal1 {
    height: 26px;
}

.espaco-horizontal2 {
margin: 220px 0;
}

.principal {
    margin-left: 8px;
}

.status {
background: #DCDCDC;
border-radius: 2px;
margin-bottom: 4px;
}

.mensagem-publica {
    background: #FFFFFF;
border-radius: 2px;
margin-bottom: 4px;
}

.mensagem-reservada {
    background: #FFDEDE;
border-radius: 2px;
}

strong {
  font-weight: 700, Bold
}